<!-- /views/upload.html -->
<html>

<head>
    <title>DropzoneJS Uploader</title>

    <!-- 1 -->
    <link href="{{ url_for('static', filename='css/dropzone.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />

    <!-- 2 -->
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
</head>

<body>
    <div id="wrapper">

        <div id="header">
            <h1>Plex Upload</h1>
        </div>
        <!-- 3 -->
        <div id="dropzone-div">
            <form action="/files/upload" method="POST" class="dropzone" id="uploadFiles">
                <label for="media-type">Media Type</label>
                <select name="media-type" id="media-type">
                    <option value="tv">TV Show</option>
                    <option value="movie">Movie</option>
                </select>
                <span id="tmp-path"></span>
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>

        <div hidden id="uploaded-files">
            <h2>Uploaded Files</h2>
            <p id="tv-notice" style="display: none;">Please check if the detected episodes match the files you uploaded and click confirm. Any errors will be ignored</p>
            <p id="movie-notice" style="display: none;">The following files have been uploaded to Plex. Any errors will need to be resolved manually. Ping Fabi and ask him nicely to move the files manually.</p>
            <ul id="uploaded-files-list">
            </ul>
            <h3>Errors</h3>
            <ul id="errors-list">
            </ul>
            <form action="/files/process" id="confirm-parsing-form">
                <input type='hidden' name='dry_run' value='0' />
                <input type='hidden' name='media_type' value='tv' />
                <input type="submit" id="confirm-parsing-btn" value="Confirm" />
            </form>

        </div>
        <div hidden id="processed-files">
            <h2>Processed Files</h2>
            <p>The following files have been uploaded to Plex. Ping Fabi to resolve any errors</p>
            <ul id="processed-files-list">
            </ul>
            <p><a id="plex-url">View on Plex</a> (could take a few minutes to show up)</p>
        </div>
        <div id="explanation">
            <h2>File Names</h2>
            <p>
                In order to ensure smooth uploads please use these file naming conventions for any uploads. 
                For movies, the name and the year should be in the filename, for tv shows, the show name and episode number are important.
                It does not matter if there is more information in the name (e.g. 1080p, webrip, etc..), but these things have to be provided for the files to automatically land in Plex.
            </p>
            <div id="movies">
                <h3>Movies</h2>
                <pre>
            <code>
/The Big Lebowski (1998)
    The Big Lebowski (1998).mkv
/Pulp Fiction (1994)
    Pulp Fiction (1994).mp4
    Pulp Fiction (1994).en.srt
    poster.jpg
            </code>
        </pre>
            </div>
            <div id="tv">
                <h3>TV Shows</h2>
                <pre>
            <code>
/Rick and Morty
    /Season 02
        Rick and Morty - s02e01.avi
        Rick and Morty - s02e02.mkv
        Rick and Morty - s02e03.m4v
            </code>
        </pre>
            </div>

        </div>
    </div>
    <script>
        //Dropzone.autoDiscover = false;
        document.getElementById('confirm-parsing-btn').addEventListener("click", async function (event) {
            event.preventDefault()
            document.getElementById('uploaded-files').setAttribute(
                'hidden', true)
            document.getElementById('processed-files').removeAttribute(
                'hidden')

            let response = await makeRequest('GET', window.location.toString() +
                'files/process?dry_run=0&media_type=' +
                document.getElementById('media-type').value)


            // Begin accessing JSON data here

            var data = JSON.parse(response)

            document.getElementById('plex-url').setAttribute('href', data.plex_url)
            console.log(data)
            data.files.forEach((file) => {
                let li = document.createElement('li');
                li.innerText = file
                document.getElementById("processed-files-list").append(li);
                // Log each movie's title
                //console.log(movie.title)
            })


        })

        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                console.log(parent.removeChild(parent.firstChild))
            }
        }

        function makeRequest(method, url) {
            return new Promise(function (resolve, reject) {
                let xhr = new XMLHttpRequest();
                xhr.open(method, url);
                xhr.onload = function () {
                    if (this.status >= 200 && this.status < 300) {
                        resolve(xhr.response);
                    } else {
                        reject({
                            status: this.status,
                            statusText: xhr.statusText
                        });
                    }
                };
                xhr.onerror = function () {
                    reject({
                        status: this.status,
                        statusText: xhr.statusText
                    });
                };
                xhr.send();
            });
        }

        Dropzone.options.uploadFiles = {
            init: function () {
                this.on("sendingmultiple", function (files) {
                    document.getElementById(`tmp-path`).innerHTML = ''
                    for (let i = 0; i < files.length; i++) {
                        file = files[i]
                        console.log(file.fullPath)
                        document.getElementById(`tmp-path`).innerHTML +=
                            `<input type="hidden" name="path-${i}" value="${file.fullPath}" />`
                    }
                });

                this.on("completemultiple", async function (files) {
                    if (this.getQueuedFiles().length === 0 && this.getUploadingFiles().length ===
                        0) {

                        removeAllChildNodes(document.getElementById(
                            "uploaded-files-list"))
                        removeAllChildNodes(document.getElementById(
                            "errors-list"))



                        if (document.getElementById('media-type').value ==
                            'movie') {
                            document.getElementById('confirm-parsing-form')
                                .style =
                                "display: none;"
                            document.getElementById('movie-notice').style = "display: block;"
                        } else {
                            document.getElementById('tv-notice').style = "display: block;"
                        }

                        document.getElementById('uploaded-files')
                            .removeAttribute(
                                'hidden')


                        let response = await makeRequest('GET', window
                            .location.toString() +
                            'files/process?dry_run=1&media_type=' +
                            document.getElementById('media-type').value)

                        // Begin accessing JSON data here
                        var data = JSON.parse(response)

                        document.getElementById('plex-url').setAttribute(
                            'href', data
                            .plex_url)
                        console.log(data)

                        data.files.forEach((file) => {
                            var li = document.createElement('li')
                            li.innerText = file
                            document.getElementById(
                                    "uploaded-files-list")
                                .append(li)
                        })
                        data.errors.forEach((error) => {
                            var li = document.createElement('li')
                            li.innerText = error
                            document.getElementById("errors-list")
                                .append(li)
                        })
                    }
                });
            }
        }
    </script>
</body>

</html>